<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Add New Blog Page</title>
    <style>
      body {
        background-color: #b8e7d7;
        font-family: Arial, sans-serif;
      }
      .container {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
      .form-label {
        font-weight: bold;
        color: #333;
      }
      .form-control {
        border-radius: 5px;
        border: 1px solid #ddd;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      }
      .form-control:focus {
        border-color: #007bff;
        box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
      }
      .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        transition: background-color 0.3s, border-color 0.3s;
      }
      .btn-primary:hover {
        background-color: #0056b3;
        border-color: #004085;
      }
    </style>
  </head>
  <body>
    <!-- <h1 class="">Aditya</h1> -->
    <%- include('./partials/nav') %>
    <div class="container mt-3">
      <form action="/blog" method="post" enctype="multipart/form-data">
        <!-- COVER IMAGE -->
        <div class="mb-3">
          <label for="coverImage" class="form-label">Cover Image</label>
          <input
            type="file"
            class="form-control"
            id="coverImage"
            name="coverImage"
            aria-describedby="coverImage"
          />
        </div>

        <!-- TITLE -->
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            aria-describedby="title"
          />
        </div>

        <!-- BODY -->
        <div class="mb-3">
          <label for="body" class="form-label">Body</label>
          <textarea name="body" class="form-control" id="body"></textarea>
        </div>

        <!-- button -->
        <button type="submit" class="btn btn-primary mb-3">Submit</button>
      </form>
    </div>
    <%- include('./partials/script') %>
  </body>
</html>
